<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
    <!-- wp:template-part {"slug":"header","theme":"travelsolution","align":"full"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
    <main class="wp-block-group alignfull">
        <!-- wp:pattern {"slug":"travelsolution/archive"} /-->
    </main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelsolution","align":"full"} /-->
</div>
<!-- /wp:group -->